html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  @include clearfix();
  @include container();
}

// Layout styles

.l-right {
  float: right;
}

.l-left {
  float: left;
}

.l-centered-text {
  text-align: center;
}

.row {

}

.full {
  @include span-columns(12 omega, 12);
}

.hero {
  @include leader(2);
  @include padding-leader(1);
  @include padding-trailer(1);
  background-color: #eee;
  padding-left: 1em;
}