.site-footer {
  @include leader(1);
  @include padding-leader(0.5);
  border-top: 1px solid $brand-color;
  margin-left: $base-spacing-unit;
  margin-right: $base-spacing-unit;
  min-height: $base-spacing-unit*2;
}

.site-footer__info {
  margin-left: $base-spacing-unit * 2.75;
}
