%footer.site-footer
  %p.site-footer__info
    %a#Intercom{:href=>"mailto:#{ENV["SUPPORT_EMAIL"]}"} Contact support
    \| A hack by <a href="http://makeshift.io/" class="makeshift-logo"><img src="/assets/makeshift-small.png" alt="Makeshift" /></a>
